<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <style>
    [v-cloak]   { display: none; }
    .chapter    { padding: 4em 12% 6em 12%; }
    .chapter p  { font-size: 1.16rem; margin: 1.4em auto; }
    .chapter h1 { font-size: 1.5rem; margin-bottom: 2em; }
    .seraph p,
    .seraph h1  { font-family: 'Ibarra Real Nova', serif; }
    .indented p { text-indent: 4em; }
    .ex-space p { margin: 2em auto; }
    .darkened p { opacity: 0.82; }
    .mini-txt { padding: 3em 1em; }
    .mini-txt p { font-size: 1rem; }
    hr {
      border: none; height: 1px; margin: 2.5em 0;
      background: linear-gradient(
        to right,
        transparent 12%,
        #00000066 20%, 80%,
        transparent 88%
      );
    }
    .pink--text hr {
      background: linear-gradient(
        to right,
        transparent 12%,
        #F48FB177 20%, 80%,
        transparent 88%
      );
    }
    .ex-space hr { margin: 4em; }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Revamp</title>
</head>
<body>
  <div id="app" v-cloak>
    <v-app :style="{background: $vuetify.theme.themes[theme].background}">

      <v-app-bar app hide-on-scroll class="d-lg-none" dark color="accent">
        <v-app-bar-nav-icon @click.stop="nav = !nav"></v-app-bar-nav-icon>
        <v-toolbar-title>Revamp</v-toolbar-title>
      </v-app-bar>

      <v-navigation-drawer
        app
        v-model="nav"
        class="pb-12 pb-sm-0"
        :expand-on-hover="$vuetify.breakpoint.lg"
        :src="`nav_${theme}.jpg`"
        :floating="$vuetify.theme.dark"
        mini-variant-width="64"
      >
        <v-list>
          <v-list-item-group v-model="chapterIndex" mandatory>
            <v-list-item>Cover</v-list-item>
            <v-list-item v-for="chap of chapters" :key="chap.number">
              <v-list-item-avatar color="accent">
                <v-img v-if="chap.icon" src="icon.png"></v-img>
                <span v-else class="white--text">{{ chap.number }}</span>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  {{ chap.number }}. {{ chap.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
        <template v-slot:append>
          <v-list-item @click="showOptions = true">
            <v-list-item-icon>
              <v-icon color="accent">mdi-settings</v-icon>
            </v-list-item-icon>
            <v-list-item-title>
              Options
            </v-list-item-title>
          </v-list-item>
        </template>
      </v-navigation-drawer>
  
      <v-content>

        <v-container fluid style="padding-bottom:10em">
          <v-row align="center" justify="center">
            <v-sheet elevation="6" width="1000" color="paper">
              <div :class="themeText" class="chapter">
                <div v-if="chapterIndex">
                  <h1 class="text-center">
                    {{ chapter.number }}. {{ chapter.title }}
                  </h1>
                  <div v-for="line of chapter.content" v-html="line">
                  </div>
                </div>
                <div v-else>
                  <h1 class="text-center">Revamp</h1>
                  <p><i>[Cover coming someday]</i></p>
                  <p>Vampires? In <em>my</em> JIDA? It's more likely than you think.</p>
                </div>
              </div>
            </v-sheet>
          </v-row>
        </v-container>

        <v-dialog v-model="showOptions" width="600px">
          <v-card>
            <v-toolbar dark color="accent">
              <v-toolbar-title>Options</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn icon dark @click="showOptions = !showOptions">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
            <v-list>
              <v-list-item>
                <v-switch v-model="$vuetify.theme.dark" label="Dark Theme"></v-switch>
              </v-list-item>
              <v-list-item>
                <v-switch v-model="options.seraph" label="Serif Font"></v-switch>
              </v-list-item>
              <v-list-item>
                <v-switch v-model="options.indent" label="Paragraph Indent"></v-switch>
              </v-list-item>
              <v-list-item>
                <v-switch v-model="options.spaced" label="Increased Margin"></v-switch>
              </v-list-item>
            </v-list>
          </v-card>
        </v-dialog>
  
      </v-content>
  
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script>
    var revamp = new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          dark: false,
          themes: {
            light: {
              background: '#fff4e5',
              paper: '#ffffff',
              accent: "#633b32"
            },
            dark: {
              background: '#3f2727',
              paper: '#231111',
              accent: "#ec407a"
            }
          }
        }
      }),
      data: {
        chapterIndex: 0,
        chapters: [],
        showOptions: false,
        nav: null,
        options: {
          dark: false,
          seraph: true,
          indent: false,
          spaced: false
        }
      },
      computed: {
        chapter() {
          window.scroll(0, 0)
          return this.chapters[this.chapterIndex - 1];
        },
        theme() {
          return this.$vuetify.theme.dark ? 'dark' : 'light';
        },
        themeText() {
          return {
            'mini-txt': this.$vuetify.breakpoint.xsOnly,
            'pink--text text--lighten-3 darkened': this.$vuetify.theme.dark,
            'seraph': this.options.seraph,
            'indented': this.options.indent,
            'ex-space': this.options.spaced
          }
        }
      },
      watch: {
        showOptions() {
          this.options.dark = this.$vuetify.theme.dark;
          localStorage.setItem('options', JSON.stringify(this.options))
        },
        chapterIndex() {
          localStorage.setItem('chapter', this.chapterIndex)
          document.title = this.chapterIndex
            ? `Revamp - ${this.chapter.number}. ${this.chapter.title}`
            : 'Revamp';
        }
      },
      methods: {
        async preprocessChapters() {
          // chapter list
          let chapters = [
            { title: "Notes", number: -1, prviacy: 2, file: "notes.txt" },
            {
              title: "Heuristic",
              number: 1, privacy: 1, file: "1_Heuristic.txt"
            },
            {
              title: "Food, Housing, and Arukanu Stationery",
              number: 2, privacy: 2, file: "2_Food.txt"
            },
            {
              title: "The Glass Break Alarm, Reprise",
              number: 4, privacy: 2, file: "4_Glass_Break.txt"
            }
          ];
          // filter content based on privacy level
          _privacy = 0
          if (window.location.hash == '#mika') _privacy = 1;
          if (window.location.hash == '#milk') _privacy = 2;
          chapters = chapters.filter(c => c.privacy <= _privacy);
          // read text files
          for (let c of chapters) {
            await fetch(`https://ygg2.github.io/revamp/${c.file}`)
              .then(response => response.text())
              .then(text => {
                this.addChapterContent(c.title, c.number, text);
              });
          }
          this.selectLastChapter();
        },
        addChapterContent(title, number, text) {
          this.chapters.push({
            title: title,
            number: number,
            content: text.split('\n\n').map(line => {
              if (line == '-') {
                return '<hr>';
              } else if (line[0] == '#') {
                return '';
              } else {
                return (`<p>${line}</p>`).replace(/\[.*?\]/g, (match) => 
                  `<span style="color: #00bbbb">${match.slice(1, -1)}</span>`
                )
              }
            }),
          });
        },
        selectLastChapter() {
          let _chapter = localStorage.getItem('chapter');
          this.$nextTick(() => {
            if (_chapter) this.chapterIndex = parseInt(_chapter, 10);
            if (this.chapterIndex > this.chapters.length) {
              this.chapterIndex = this.chapters.length;
            }
          });
        },
      },
      mounted() {
        let _options = localStorage.getItem('options');
        if (_options) this.options = JSON.parse(_options);
        this.$vuetify.theme.dark = this.options.dark;
        this.preprocessChapters();
      }
    })
  </script>
</body>
</html>